@font-face {
  font-family: "Georgia";
  src: url("./assets/fonts/GeorgiaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.lock {
  overflow: hidden;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__wrapper {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.logo__title {
  margin-top: 1px;
  margin-bottom: 8px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo__subtitle {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
}

.nav {
  width: 443px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav__item {
  list-style: none;
}

.nav__link {
  padding-bottom: 3px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  cursor: pointer;
  color: #CDCDCD;
  transition: color 0.5s;
}

.nav__link_active {
  cursor: default;
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.nav__link:hover {
  color: #FAFAFA;
}

.burger-menu__icon-wrapper {
  position: relative;
  width: 30px;
  height: 22px;
  display: none;
}

.burger-menu__icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  z-index: 1000;
  transition: transform ease-in-out 0.5s;
}

.burger-menu__icon_open {
  transform: rotate(90deg);
}

.burger-menu__icon-line {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}

/*not only*/

.not-only {
  padding-top: 180px;
  background: url(./assets/Images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.not-only .wrapper {
  display: flex;
}

.not-only__content {
  padding: 127px 0 100px;
}

.not-only__title {
  margin-bottom: 41px;
  padding-right: 50px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.not-only__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.not-only__button-wrapper {
  display: flex;
}

.button {
  border: none;
  border-radius: 100px;
  background-color: #F1CDB3;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  transition: background-color 0.5s,
              border-color 0.5s;
}

.not-only__button {
  margin-top: 27px;
  max-width: 207px;
  width: 100%;
  height: 52px;
  
}

.button:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}


.not-only__image {
  width: clamp(569px, 70%, 698px);
  max-height: 728px;
  margin-left: 42px;
}

/*about*/

.about {
  padding: 80px 0 34px;
  background-color: #fff;
}

.about .wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 969px;
}

.about__content {
  max-width: 430px;
  margin-bottom: 66px;
}

.section-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.about__text {
  margin-top: 24px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.about__image {
  width: clamp(160px, 96%, 300px);
  max-height: 408px;
  margin-bottom: 66px;
}

/*our friends*/

.our-friends {
  padding: 45px 0 100px;
  background-color: #F6F6F6;
}

.our-friends__title {
  text-align: center;
  margin-bottom: 59px;
}

.our-friends__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slider {
  overflow: hidden;
  width: 990px;
  height: 435px;
  margin: 0 12px;
}

.slider__line {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 3150px;
  left: -1080px;
  gap: 90px;
}

.slider__set {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

@keyframes move-left {
  from {left: -1080px;}  
  to {left: 0px;}  
}

@keyframes move-right {
  from {left: -1080px;}  
  to {left: -2160px;}  
}

.transition-left {
  animation-name: move-left;
  animation-duration: 0.5s;
}

.transition-right {
  animation-name: move-right;
  animation-duration: 0.5s;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.5s,
              box-shadow 0.5s;
}

.card:hover {
  background-color: #fff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__controls {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.slider__controls:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.card__title {
  margin: 30px 0 30px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.card__button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
}

.card:hover .card__button {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.our-friends__button {
  margin-top: 60px;
  width: 261px;
  height: 52px;
}

/*Popup*/

.popup__background {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(41 41 41 / 60%);
}

.popup {
  position: relative;
  width: 900px;
  margin-bottom: 48px;
  background-color: #FAFAFA;
  border-radius: 9px;    
  display: block;
  inset: 0;
}

.popup__img {
  width: 500px;
  height: 500px;
  border-radius: 9px;
}

.popup__content {
  display: flex;
  min-height: 500px;
}

.popup__close-button {
  position: relative;
  left: 465px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.5s,
              background-color 0.5s;
}
  
.popup__close-button:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
  
.popup__text-content {
  padding: 50px 20px 0 30px;
  font-family: 'Georgia';
  font-weight: 400;
}

.popup__title {
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.popup__subtitle {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.popup__description {
  margin: 40px 0 40px;
  font-size: 15px;
  line-height: 113%;
  letter-spacing: 0.06em;
}

.popup__detail-list {
  padding-left: 0;
  list-style: none;
  font-size: 15px;
  line-height: 117%;
  letter-spacing: 0.13em;
}

.popup__detail-item {
  margin-bottom: 10px;
}

.popup__detail-item::before {
  display:inline-block;
  position: relative;
  content: '';
  width: 4px;
  height: 4px;
  margin-bottom: 3px;
  background-color: #F1CDB3;
  border-radius: 2px;
}

.popup__detail-title {
  font-weight: 700;
  padding-left: 10px;
}

.popup__hidden {
  visibility: hidden;
}

/*help*/

.help {
  padding: 45px 0 45px;
  background-color: #fff;
}

.help .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__title {
  text-align: center;
  margin-bottom: 59px;
}

.help__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px;
}

.help__subtitle {
  margin-top: 30px;
  margin-bottom: 55px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/*in addition*/

.in-addition {
  padding: 80px 0 40px;
  background-color: #F6F6F6;
}

.in-addition .wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 947px;
}

.in-addition__content {
  width: 380px;
  margin-bottom: 57px;
}

.in-addition__image {
  width: clamp(160px, 93%, 505px);
  max-height: 261px;
  margin-bottom: 59px;
}

.in-addition__title {
  margin: 0;
}

.in-addition__subtitile {
  margin: 20px 0 19px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__button {
  box-sizing: border-box;
  width: 349px;
  height: 43px;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
  transition: background-color 0.5s;
}

.in-addition__button:hover {
  background-color:#FDDCC4
}

.in-addition__text {
  margin-top: 20px;
  margin-bottom: 3px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}

.card-number {
  padding-left: 14px;
}

/*footer*/

.footer {
  padding-top: 40px;
  background: url(./assets/Images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.footer__colon {
  max-width: 302px;
}

.footer__subtitle {
  margin-top: 17px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__image {
  width: clamp(160px, 87%, 300px);
  max-height: 310px;
}

.footer__link {
  padding-left: 20px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}

.footer__link:hover {
  color: #FDDCC4;
}

.footer__paragraph {
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.footer__two-colons {
  display: flex;
  justify-content: space-between;
  max-width: 61.8%;
  width: 100%;
}

.footer__quick-fix .footer__subtitle {
  margin-bottom: 0;
}

.footer__quick-fix .footer__paragraph {
  margin-top: 32px;
}

/*tablet*/

@media (max-width: 1180px) {
  .slider {
    width: 580px;
  }
  
  .slider__line {
    width: 1820px;
    left: -620px;
    gap: 40px;
  }
  
  .slider__set {
    gap: 40px;
  }
    
  .slider__card:nth-child(3n) {
    display: none;
  }
  
  @keyframes move-left {
    from {left: -620px;}  
    to {left: 0px;}  
  }
  
  @keyframes move-right {
    from {left: -620px;}  
    to {left: -1240px;}  
  }
}

@media (max-width: 1060px) {
  
  .not-only .wrapper {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .not-only {
    padding-top: 114px;
  }
  
  .not-only__content {
    padding: 0 124px 100px;
  }
  
  .not-only__button-wrapper {
    justify-content: center;
  }
  
  .popup__close-button {
    left: 332px;
  }
  
  .popup {
    width: 630px;
  }
  
  .popup__content {
    min-height: 350px;
  }
  
  .popup__img {
    width: 350px;
    height: 350px;
  }
  
  .popup__text-content {
    padding: 10px 9px 0 10px;
  }
  
  .popup__description {
    margin: 19px 0 16px;
    font-size: 13px;
  }
  
  .popup__detail-item {
    margin-bottom: 5px;
  }
  
  .help__content {
    justify-content: space-evenly;
  }
  
  .help__icon {
    width: 170px;
    margin: 0 20px;
  }
  
  .footer {
    padding-top: 16px;
  }
  
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer__two-colons {
    justify-content: space-between;
    max-width: 90.5%;
  }
  
  .footer__image {
    margin-top: 49px;
  }

}

@media (max-width: 767px) {
    
  .wrapper {
    padding: 0 10px;
    text-align: center;
  }
  
  .header {
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  .burger-menu__icon-wrapper {
    display: block;
  }
    
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(41 41 41 / 60%);
    transition: opacity ease-in-out 0.5s,
                visibility ease-in-out 0.5s;
  }
  
  .nav__list {
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 320px;
    height: 100vh;
    padding-top: 249px;
    background-color: #292929;
    z-index: 10;
    transition: right ease-in-out 0.5s;
  }
  
  .shifted {
    right: -100%;
  }
  
  .hidden {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
    
  .nav__item {
    margin-bottom: 41px;
  }
  
  .nav__link {
    font-size: 32px;
    padding-bottom: 7px;
  }
  
  .slider {
    width: 270px;
  }
  
  .slider__line {
    width: 850px;
    left: -290px;
    gap: 20px;
  }
  
  .slider__set {
    width: 270px;
  }
    
  .slider__card:nth-child(2n) {
    display: none;
  }
  
  @keyframes move-left {
    from {left: -290px;}  
    to {left: 0px;}  
  }
  
  @keyframes move-right {
    from {left: -290px;}  
    to {left: -580px;}  
  }
}

@media (max-width: 740px) {
  
  .not-only__image {
    width: clamp(160px, 87%, 569px);
  }
  
  .not-only__content {
    padding: 0 0 105px;
  }

  .not-only__title {
    font-size: 25px;
    padding: 0 33px;
    letter-spacing: 0.06em;
    margin-top: 36px;
  }
  
  .section-title {
    font-size: 25px;
  }
  
  .about {
    padding: 43px 15px 34px;
  }
  
  .about__text {
    text-align: justify;
  }
    
  .about__image {
    margin-bottom: 8px;
  }
  
  .about__content {
    margin-bottom: 24px;
  }
  
  .our-friends {
    padding: 17px 0 42px;
  }
  
  .our-friends__title {
    margin-bottom: 41px;
  }
  
  .our-friends__button {
    margin-top: 42px;
  }
  
  .popup__close-button {
    left: 124px;
  }
  
  .popup {
    width: 240px;
    min-height: 341px;
  }
  
  .popup__img {
    display: none;
  }
    
  .popup__title {
    text-align: center;
  }
  
  .popup__subtitle {
    text-align: center;
    letter-spacing: 0.05em;
  }
  
  .popup__description {
    text-align: justify;
    line-height: 110%;
    margin: 19px 0 22px;
  }
  
  .popup__detail-list {
    padding-left: 4px;
  }

  .help {
    padding: 17px 0 10px;
  }
  
  .help__content {
    justify-content: space-between;
  }
  
  .help__icon {
    width: 130px;
    margin: 0 5px;
  }
  
  .help__image {
    height: 50px;
  }
  
  .help__title {
    margin-bottom: 41px;
  }
  
  .help__subtitle {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .in-addition {
    padding: 43px 10px 42px;
  }
  
  .in-addition__content {
    margin-bottom: 39px;
  }
  
  .in-addition__subtitile {
    line-height: 160%;
    letter-spacing: normal;
  }
  
  .in-addition__button {
    font-size: 15px;
    line-height: 110%;
    width: 281px;
    margin: 0 auto;
  }
  
  .in-addition__text {
    text-align: justify;
  }
  
  .in-addition__image {
    margin: 0;
  }
  
  .footer__subtitle {
    font-size: 25px;
  }
  
  .footer__two-colons {
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
  }
  
  .footer__colon {
    width: 100%;
  }
  
  .footer__paragraph {
    font-size: 20px;
    line-height: 115%;
    justify-content: center;
  }
  
  .footer__quick-fix .footer__subtitle {
    padding: 0 4px;
  }
  
  .footer__quick-fix .footer__paragraph {
    justify-content: flex-start;
    text-align: left;
    margin-top: 40px;
  }
  
  .footer__image {
    margin-top: 20px;
  }
  
}

@media (max-width: 420px) {
  .slider__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .slider {
    order: -1;
  }
  
  .slider__controls {
    margin: 20px 13% 0;
  }
}
